.pwpprRefreshCont{
    clear: both;
    margin: 10px auto 0;
    text-align: center;
    width: 210px;
    height: 64px;
    position: relative;
    background-repeat: no-repeat;
    background-position: right top ;
}
.pwpprRefreshCont:hover{
    background-position: right -64px;
}
.userInputCont{
    position: absolute;
    width: 48px;
    height: 35px;
    right: 132px;
    top: 15px;
    border-right:0 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
input[type="text"].userNumPosts{
    font-family: Helvetica,Arial,sans-serif;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 0px; 
    background-color: transparent;
    font-size: 20px;
    height: 29px;
    width: 45px;
    text-align: center;
    padding: 1px !important;
}
input[type="text"].userNumPosts:hover{
    border: 0px; 
}
.ajaxSpinBtn{
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    right: 73px;
    top: 0;
    background-color: transparent;
    cursor: pointer;
}
.ajaxSquareBtn{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    display: block;
    width: 77px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 0;
    top: 15px;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 2px #000;
    font-weight: bold;
    cursor: pointer;
}
.pwppr-list{
    width: 100%;
    text-align: center;
}
.pwppr-item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}
.pwppr-item img{
    display: block;
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    transition: all 0.4s ease-out;
}
.pwppr-item:hover img{
    transform: scale(1.1);
}
.pwppr-item a:active,
.pwppr-item a:visited,
.pwppr-item a:hover,
.pwppr-item a{
    text-decoration: none;
    color: #fff;
}
.pwppr-item-title{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #eeeeee;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    text-align: left;
    font-size: 13px;
    line-height: 14px;
    overflow: hidden;
    word-wrap: break-word;
    text-shadow: 1px 1px #000;
    z-index: 11;
}
